.AboutView {
  min-height: 100%;
  width: auto;
  white-space: nowrap;
  overflow: auto;
  table-layout: fixed;
  flex: 1;
  padding-bottom: var(--navHeight);

  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.StudyLink {
}

.Descriptor {
  width: 57%;
  display: inline-block;
}
@media (min-width: 1200px) {
  .Descriptor {
    width: 31%;
  }
}

.CityDescriptor {
  width: 26%;
  display: inline-block;
}
@media (min-width: 1200px) {
  .CityDescriptor {
    width: 16%;
  }
}


.RoleDescriptor {
  width: 30%;
  display: none;
}
@media (min-width: 1200px) {
  .RoleDescriptor {
    display: inline-block;
  }
}

.DateDescriptor {
  width: 20%;
  display: inline-block;
}

.AboutKeyImageHero {
  position: fixed;
  height: 60%;
  left: 10%;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
