.ImageWrapper {
  display: inline;
  width: min-content;
  height: 90%;
  transform: translate(0px, 0px);
  opacity: 1;
  transition: 1200ms cubic-bezier(.08,.46,0,1.01);
}

.ImageWrapper.hidden {
  transform: translate(40px, 0px);
  opacity: 0;
}

.ImageHero {
  margin-right: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

