.Nav {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  background-color: black;
}

.Logo {
  flex: 30;
  text-align: center;
}

.Logo a {
  color: white;
  text-decoration: none;
}

.Blurb {
  flex: 40;
}

.BlurbText {
  max-width: 240px;
}

.Links {
  flex: 30;
}

.Links a {
  color: white;
  text-decoration: none;
}

.CaseStudiesLink {
  cursor: pointer;
}

.Blurb .EmailAddress {
  color: white;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.42px;
}

.Blurb .DetailsSplit {
  display: flex;
}

.Blurb .DetailsSplit a {
  color: white;
}

.Blurb .DetailsSplit .Secondary {
  padding-left: 30px;
}
