.Nav {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
}

.Logo {
  flex: 30;
}

.Blurb {
  flex: 40;
}

.BlurbText {
  max-width: 300px;
}

.Links {
  flex: 30;
}
