html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

* {
  box-sizing: border-box;
}

:root {
  --navHeight: 130px;
}

body {
  cursor: url(./yinyang.png) 0 0, default;
  cursor: url(./yinyang.svg) 0 0, pointer; /* FF */
  cursor: -webkit-image-set(url(./yinyang.png) 1x, url(./yinyang@2x.png) 2x) 0 0, pointer; /* Webkit */

  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Akzidenz Grotesk Extended', Arial, sans-serif;
  color: white;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.2px;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  margin-top: 0;
}

h2 {
  letter-spacing: 0.42px;
  line-height: 16px;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  letter-spacing: 0.42px;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 20px;
}

h4 {
  letter-spacing: 0.88px;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 18px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section.Main {
  flex: 1;
  display: flex;
  height: 100%;
}

.MainInner {
  overflow-y: scroll;
  min-width: 100%;
}

.ImageGallery {
  height: 100%;
  width: auto;
  padding-bottom: var(--navHeight);
  display: flex;
  align-items: flex-end;
}


nav.MobileNav {
  padding: 30px 0px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav.MobileNav a {
  color: white;
  text-decoration: none;
}

nav.MobileNav h1  {
  font-size: 1rem;
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  table {
    width: 100%;
    margin-bottom: 0px;
  }
}

table {
  width: 340px;
  margin-bottom: 60px;
  font-size:12px;
  letter-spacing: 0.42px;
}
table thead {
  text-align: left;
}
table th {
  padding-bottom: 30px;
  width: 50%;
}
table td {
  padding-bottom: 10px;
  padding-right: 6px;
  padding-top: 0px;
  vertical-align: top;
}
