@font-face {
  font-family: 'Akzidenz Grotesk Extended';
  src: url('akzidenzgrotesk-boldextended-webfont.woff2') format('woff2'),
        url('akzidenzgrotesk-boldextended-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz Grotesk Extended';
  src: url('akzidenzgrotesk-extended-webfont.woff2') format('woff2'),
        url('akzidenzgrotesk-extended-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz Grotesk Extended';
  src: url('akzidenzgrotesk-lightextended-webfont.woff2') format('woff2'),
        url('akzidenzgrotesk-lightextended-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz Grotesk Extended';
  src: url('akzidenzgrotesk-mediumextended-webfont.woff2') format('woff2'),
        url('akzidenzgrotesk-mediumextended-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Scheherazade';
  src: url('scheherazade-regular-webfont.woff2') format('woff2'),
        url('scheherazade-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
